.main {
  height: 100vh;
  max-height: 100%;
}

.js-gesture,
.js-slider {
  height: 100vh;
  max-height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100%;

  opacity: 0;
  visibility: hidden;
  display: none;

  z-index: 100;

  .no-touch & {
    &.is-active {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      display: block;
    }
  }

  .touch & {
    &.is-active {
      visibility: visible;
      display: block;
    }
  }
}

.section--contact {
}

.article {
}

.clear {
  clear: both;
}

.dg.ac {
  z-index: 99999 !important;
}
