<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>9296651D-D5C8-4908-9ABF-DCAE4F79CC07@2x</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-1160.000000, -889.000000)" fill="#000000" fill-rule="nonzero">
            <g id="social" transform="translate(1120.000000, 836.000000)">
                <path d="M60,53 C62.209139,53 64,54.790861 64,57 L64,73 C64,75.209139 62.209139,77 60,77 L44,77 C41.790861,77 40,75.209139 40,73 L40,57 C40,54.790861 41.790861,53 44,53 L60,53 Z M56,57 L53.461,57 C51.064,57 50,58.055 50,60.077 L50,60.077 L50,62 L48,62 L48,65 L50,65 L50,73 L53,73 L53,65 L55.762,65 L56,62 L53,62 L53,60.889 C53,60.252 53.461,60 54.076,60 L54.076,60 L56,60 L56,57 Z" id="ic_facebook"></path>
            </g>
        </g>
    </g>
</svg>