<?xml version="1.0" encoding="UTF-8"?>
<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>156D3998-2C42-4422-B319-D5FD8561EAA6@2x</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer_MBL" transform="translate(-32.000000, -1552.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group-3" transform="translate(32.000000, 1551.000000)">
                <path d="M12.9198,18.8505 C14.6778,16.9195 15.7348,14.4545 15.9198,11.8505 L18.4098,11.8505 C18.0748,15.0495 15.9318,17.7735 12.8998,18.8505 L12.9198,18.8505 Z M7.3898,18.8505 C4.3578,17.7735 2.2148,15.0495 1.8798,11.8505 L4.3698,11.8505 C4.5548,14.4545 5.6118,16.9195 7.3698,18.8505 L7.3898,18.8505 Z M7.3898,3.1495 C5.6318,5.0795 4.5748,7.5455 4.3898,10.1495 L1.8698,10.1495 C2.2068,6.9475 4.3548,4.2245 7.3898,3.1495 L7.3898,3.1495 Z M6.0398,11.8295 L9.3198,11.8295 L9.3198,18.4295 C7.4258,16.7275 6.2528,14.3675 6.0398,11.8295 L6.0398,11.8295 Z M9.3298,3.5705 L9.3298,10.1695 L6.0398,10.1695 C6.2558,7.6315 7.4328,5.2705 9.3298,3.5705 L9.3298,3.5705 Z M10.9998,11.8295 L14.2798,11.8295 C14.0668,14.3675 12.8938,16.7275 10.9998,18.4295 L10.9998,11.8295 Z M10.9998,3.5705 C12.8938,5.2725 14.0668,7.6325 14.2798,10.1695 L10.9898,10.1695 L10.9998,3.5705 Z M18.4498,10.1695 L15.9498,10.1695 C15.7648,7.5655 14.7078,5.1005 12.9498,3.1695 C15.9788,4.2495 18.1168,6.9725 18.4498,10.1695 L18.4498,10.1695 Z M13.0798,1.4395 C12.1858,1.1645 11.2558,1.0175 10.3198,0.9995 L9.9998,0.9995 C4.4778,0.9995 -0.0002,5.4765 -0.0002,10.9995 C-0.0002,16.5235 4.4778,20.9995 9.9998,20.9995 L10.3198,20.9995 C15.8418,20.9075 20.2428,16.3545 20.1488,10.8325 C20.0758,6.5005 17.2228,2.7085 13.0798,1.4395 L13.0798,1.4395 Z" id="ic_Lenguage"></path>
            </g>
        </g>
    </g>
</svg>