<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>F4AB8A67-081E-4411-BE96-427404DA8D2D@2x</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-1200.000000, -889.000000)" fill="#000000" fill-rule="nonzero">
            <g id="social" transform="translate(1120.000000, 836.000000)">
                <path d="M100,53 C102.209139,53 104,54.790861 104,57 L104,73 C104,75.209139 102.209139,77 100,77 L84,77 C81.790861,77 80,75.209139 80,73 L80,57 C80,54.790861 81.790861,53 84,53 L100,53 Z M91.953032,59.1405749 C88.722196,59.1405749 86.093433,61.7690609 86.093433,64.9999659 C86.093433,68.2308709 88.722196,70.8593579 91.953032,70.8593579 C95.184051,70.8593579 97.81263,68.2308709 97.81263,64.9999659 C97.81263,61.7690609 95.184051,59.1405749 91.953032,59.1405749 Z M91.953032,61.0155799 C94.150198,61.0155799 95.937559,62.8030609 95.937559,64.9999659 C95.937559,67.1968719 94.150198,68.9843529 91.953032,68.9843529 C89.756048,68.9843529 87.968505,67.1968719 87.968505,64.9999659 C87.968505,62.8030609 89.756048,61.0155799 91.953032,61.0155799 Z M98.468905,57.2655699 C97.692325,57.2655699 97.062602,57.8950879 97.062602,58.6718239 C97.062602,59.4485589 97.692325,60.0780779 98.468905,60.0780779 C99.245668,60.0780779 99.875209,59.4485589 99.875209,58.6718239 C99.875209,57.8950879 99.245668,57.2655699 98.468905,57.2655699 Z" id="ic_instagram"></path>
            </g>
        </g>
    </g>
</svg>