<?xml version="1.0" encoding="UTF-8"?>
<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>4E654B99-4963-4F4E-AD40-432AD02308C2@2x</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-1120.000000, -889.000000)" fill="#000000" fill-rule="nonzero">
            <g id="social" transform="translate(1120.000000, 836.000000)">
                <path d="M20,53 C22.209139,53 24,54.790861 24,57 L24,73 C24,75.209139 22.209139,77 20,77 L4,77 C1.790861,77 2.705415e-16,75.209139 0,73 L0,57 C-2.705415e-16,54.790861 1.790861,53 4,53 L20,53 Z M7.500366,62.234375 L4.219116,62.234375 L4.219116,72.828125 L7.500366,72.828125 L7.500366,62.234375 Z M15.858398,62.046875 C14.262085,62.046875 13.190552,62.845215 12.753113,63.675415 L12.75,62.234375 L9.5625,62.234375 L9.5625,72.828125 L12.75,72.828125 L12.75,67.568237 C12.75,66.190735 13.100647,64.856262 14.808105,64.856262 C16.4321598,64.856262 16.5408989,66.3210099 16.5465945,67.5233377 L16.546875,72.828125 L19.78125,72.828125 L19.78125,66.999878 C19.78125,64.156067 19.180481,62.046875 15.858398,62.046875 Z M5.906982,56.9375 C4.842773,56.9375 3.984375,57.798462 3.984375,58.859192 C3.984375,59.920288 4.842773,60.78125 5.906982,60.78125 C6.967163,60.78125 7.827759,59.920288 7.827759,58.859192 C7.827759,57.798462 6.967163,56.9375 5.906982,56.9375 Z" id="ic_linkedin"></path>
            </g>
        </g>
    </g>
</svg>