<?xml version="1.0" encoding="UTF-8"?>
<svg width="31px" height="24px" viewBox="0 0 31 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>C7C2A3C2-C44A-43A1-ADE0-258F5A6A20C4@2x</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer" transform="translate(-1240.000000, -889.000000)" fill="#000000" fill-rule="nonzero">
            <g id="social" transform="translate(1120.000000, 836.000000)">
                <path d="M147,53 C149.209139,53 151,54.790861 151,57 L151,73 C151,75.209139 149.209139,77 147,77 L124,77 C121.790861,77 120,75.209139 120,73 L120,57 C120,54.790861 121.790861,53 124,53 L147,53 Z M131.053571,59.6667405 L131.053571,70.3332595 L141.386905,64.9906674 L131.053571,59.6667405 Z" id="ic_youtube"></path>
            </g>
        </g>
    </g>
</svg>