<article class="content js-section" data-id="connect">
  <div class="content__faketitle content__faketitle--connect js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--connect js-fake-scroll"></div>

  <div class="description js-description">
    Mettiamo in connessione persone e brand<br />
    creando esperienze di valore.
  </div>

  <div class="background__icons background__icons--connect">
		{% include 'svg/connect.html.twig' with {'className': 'js-icon-connect-1'} %}
		{% include 'svg/connect.html.twig'  with {'className': 'js-icon-connect-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--connect js-blob-image">
      <div class="description description--blob">
        Strumenti:<br />
        - Production & code development<br />
        - UX/UI Implementation<br />
        - Supervisione Quality assurance<br />
        - KPI monitoring<br />
      </div>

      <div class="description description--blob description--blob-mobile">
        Mettiamo in connessione persone e brand<br />
        creando esperienze di valore.
        <br /><br />
        <u>Strumenti:</u><br />
        - Production & code development<br />
        - UX/UI Implementation<br />
        - Supervisione Quality assurance<br />
        - KPI monitoring
      </div>
    </div>
  </div>
</article>
