<article class="content content--contact js-section" data-id="contact">
	<div class="contact__back">
		<div class="contact__backcontent js-contact-back">
			BACK
			<div class="contact__backicon">
				{% include 'svg/back.html.twig' %}
			</div>
		</div>
		
	</div>

	<div class="contact">	
		<div class="contact__background">
			<div class="contact__form">
				{% include 'partials/form.html.twig' %}
			</div>
		</div>
	</div>
</article>