<article class="content js-section" data-id="move">
  <div class="content__faketitle content__faketitle--internal js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--internal js-fake-scroll"></div>

  <div class="description js-description">
    Implementiamo prototipi per studiare<br />
    l'interazione e mostrare un output funzionante<br />
    alle persone.
  </div>

  <div class="background__icons background__icons--move">
		{% include 'svg/move.html.twig' with {'className': 'js-icon-move-1'} %}
		{% include 'svg/move.html.twig'  with {'className': 'js-icon-move-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--move js-blob-image">
      <div class="description description--blob">
        Strumenti:<br />
        - Prototypation<br />
        - User Test<br />
        - Performance Monitoring<br />
        - A/B testing<br />
      </div>

      <div class="description description--blob description--blob-mobile">
        Implementiamo prototipi per studiare<br />
        l'interazione e mostrare un output<br />
        funzionante alle persone.
        <br /><br />
        <u>Strumenti:</u><br />
        - Prototypation<br />
        - User Test<br />
        - Performance Monitoring<br />
        - A/B testing
      </div>
    </div>
  </div>
</article>
