<article class="content js-section" data-id="play">
	<div class="content__faketitle content__faketitle--play js-play-active"></div>
	
	<div class="content__fakescroll content__fakescroll--play js-fake-scroll"></div>

  <div class="background__icons background__icons--leaf">
		{% include 'svg/leaf.html.twig' %}
	</div>
</article>
