<article class="content js-section" data-id="study">
  <div class="content__faketitle content__faketitle--internal js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--internal js-fake-scroll"></div>

  <div class="description js-description">
    Analizziamo i dati a disposizione, il mercato di<br />
    riferimento ed i bisogni delle persone per<br />
    ridefinire sfide ed opportunità di business.
  </div>

  <div class="background__icons background__icons--study">
		{% include 'svg/study.html.twig' with {'className': 'js-icon-study-1'} %}
		{% include 'svg/study.html.twig' with {'className': 'js-icon-study-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--study js-blob-image">
      <div class="description description--blob">
        Strumenti:<br />
        - Competitor Analysis & Benchmark<br />
        - User Journey & Consumer Insight<br />
        - UX Research<br />
        - Interviste e questionari
      </div>
      
      <div class="description description--blob description--blob-mobile">
        Analizziamo i dati a disposizione, il<br />
        mercato di riferimento ed i bisogni<br />
        delle persone per ridefinire sfide ed<br />
        opportunità di business.
        <br /><br />
        <u>Strumenti:</u><br />
        - Competitor Analysis & Benchmark<br />
        - User Journey & Consumer Insight<br />
        - UX Research<br />
        - Interviste e questionari
      </div>
    </div>
  </div>
</article>
