<article class="content js-section" data-id="think">
  <div class="content__faketitle content__faketitle--internal js-fake-blob-title"></div>

  <div class="content__fakescroll content__fakescroll--internal js-fake-scroll"></div>
  
  <div class="description js-description">
    Definiamo una connection strategy per guidare<br />
    lo sviluppo delle esperienze delle persone con il<br />
    brand.
  </div>

  <div class="background__icons background__icons--think">
		{% include 'svg/think.html.twig' with {'className': 'js-icon-think-1'} %}
		{% include 'svg/think.html.twig'  with {'className': 'js-icon-think-2'} %}
	</div>

  <div class="blob">
    <div class="blob__image blob__image--think js-blob-image">
      <div class="description description--blob">
        Strumenti:<br />
        - 5C strategic analysis<br />
        - Connection planning<br />
        - Project Strategy<br />
        - Open Innovation<br />
      </div>

      <div class="description description--blob description--blob-mobile">
        Definiamo una connection strategy<br />
        per guidare lo sviluppo delle<br />
        esperienze delle persone con il brand.
        <br /><br />
        <u>Strumenti:</u><br />
        - 5C strategic analysis<br />
        - Connection planning<br />
        - Project Strategy<br />
        - Open Innovation
      </div>
    </div>
  </div>
</article>
