<div class="contact__footer">
						<div class="footer__main">
							<div class="footer__container">
								<div class="footer__desc">
								{% include 'partials/logo.html.twig'  with {'className':  'footer__logo'} %}
								<span class="footer_desc_cont">Jungles è specializzata in User Experience Research e Design supportando i brand nello studio, definizione e sviluppo di strategie di connessione digitale verso 
i propri utenti, per trasformare le interazioni in esperienza.</span>
								</div>
							<div class="footer__resr js-main-menu-footer">
								<h3>Resources</h3>
								<a href="#" data-id="study">Study</a>
								<a href="#" data-id="think">Think</a>
								<a href="#" data-id="move">Move</a>
								<a href="#" data-id="connect">Connect</a>
								<a href="#" data-id="contact">Contact Us</a>
							</div>
							<div class="footer__support">
								<h3>Resources</h3>
								<a href="/privacy-policy" target="_blank" >Privacy Policy</a>
								<a href="mailto:info@jungles.es">info@jungles.es</a>
								<a href="tel:021234567">021234567</a>
							</div>
							<div class="footer__follow">
                                <h3>Follow US</h3>
                                <div class="footer__icons">
                            	    <a href="https://www.linkedin.com/company/28876290">{% include 'svg/linkedin.html.twig' %}</a>
                            	    <a href="https://www.facebook.com/jungles.experience">{% include 'svg/facebook.html.twig' %}</a>
                            	    <a href="https://www.instagram.com/jungles_ux/">{% include 'svg/instagram.html.twig' %}</a>
                            	    <a href="https://www.youtube.com/channel/UCleFADL-b2zGeHj0TIlOAzg">{% include 'svg/youtube.html.twig' %}</a>
                                </div>
                            </div>
							</div>
						</div>
						<div class="footer__sub">
							<div class="footer__container">
                                <span class="footer__spacerafter">
								    <span class="footer__dotafter">Copyright ©2020</span>
								    <span class="footer__dotafter">Jungles S.r.l. Via Spartaco 11, 20135 Milano</span>
								    <span>P.IVA 10065560962</span>
                                </span>
                                <div class="footer__lang">
                                    {% include 'svg/globe.html.twig' %}
                                    <span class="footer__dotafter footer_bold">Italiano (IT)</span>
                                    <span class="footer__underline">English (US)</span>
                                </div>
							</div>
						</div>
					</div>