<h1 class="editorial__title">Informativa “fornitori” ai sensi dell'Art. 13 “Regolamento Europeo in materia di protezione dei dati personali – GDPR” (REG. UE 2016/679)</h1>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Introduzione</h2>
	</div>
	<div>
		<p class="editorial__paragraph">I dati personali saranno oggetto di trattamento nel rispetto della normativa applicabile e degli obblighi di riservatezza e sicurezza cui si ispira l'attività di Jungles S.r.l.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Titolare del trattamento</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Il Titolare del trattamento è Jungles S.r.l., P.IVA e C.F. 10065560962, con sede legale in Via Cesare Battisti n. 23 - 20122 Milano contattabile ai seguenti recapiti:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• scrivendo una e-mail a info@jungl.es</li>
			<li class="editorial__list__item">• telefonando al numero +39 02 82 777 066</li>
			<li class="editorial__list__item">• per posta ordinaria all'indirizzo della sede legale</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Categoria di dati trattati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Le categorie di dati trattati sono le seguenti:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• dati personali identificativi (nome e cognome, e-mail e/o numero di telefono diretto) del fornitore persona fisica</li>
			<li class="editorial__list__item">• dati personali identificativi (nome e cognome, ruolo aziendale, e-mail e/o numero di telefono diretto) dei dipendenti del fornitore persona giuridica che saranno indicati dal fornitore stesso per svolgere l’attività di delivery dei servizi e di gestione della commessa</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Finalità, basi giuridiche e tempo di conservazione</h2>
	</div>
	<div>
		<div class="editorial__table">
			<div class="editorial__table__row">
				<div class="editorial__table__col">
					<strong>FINALITÀ</strong>
				</div>
				<div class="editorial__table__col">
					<strong>BASI GIURIDICHE</strong>
				</div>
				<div class="editorial__table__col">
					<strong>TEMPO CONSERVAZIONE</strong>
				</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">eseguire le operazioni connesse e strumentali all'acquisizione di informazioni preliminari alla conclusione del contratto</div>
				<div class="editorial__table__col" data-head="BASI GIURIDICHE">il trattamento è necessario per adempiere gli obblighi derivanti dal contratto e le attività precontrattuali correlate</div>
				<div class="editorial__table__col" data-head="TEMPO CONSERVAZIONE">10 anni dalla conclusione del contratto, come stabilito dall'art. 2220 c.c., fatti salvi eventuali ritardati pagamenti dei corrispettivi e/o contenziosi che ne giustifichino il prolungamentos</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">eseguire le operazioni imposte da obblighi normativi inerenti il contratto in fase di sottoscrizione</div>
				<div class="editorial__table__col hide-desk" data-head="BASI GIURIDICHE">il trattamento è necessario per adempiere gli obblighi derivanti dal contratto e le attività precontrattuali correlate</div>
				<div class="editorial__table__col hide-desk" data-head="TEMPO CONSERVAZIONE">10 anni dalla conclusione del contratto, come stabilito dall'art. 2220 c.c., fatti salvi eventuali ritardati pagamenti dei corrispettivi e/o contenziosi che ne giustifichino il prolungamento</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">gestire i rapporti con il fornitore e per la gestione della contabilità, degli ordini, della fatturazione e dell'eventuale contenzioso</div>
				<div class="editorial__table__col hide-desk" data-head="BASI GIURIDICHE">il trattamento è necessario per adempiere gli obblighi derivanti dal contratto e le attività precontrattuali correlate</div>
				<div class="editorial__table__col hide-desk" data-head="TEMPO CONSERVAZIONE">10 anni dalla conclusione del contratto, come stabilito dall'art. 2220 c.c., fatti salvi eventuali ritardati pagamenti dei corrispettivi e/o contenziosi che ne giustifichino il prolungamento</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">archiviare i documenti come richiesto dalla vigente normativa</div>
				<div class="editorial__table__col" data-head="BASI GIURIDICHE">il trattamento è necessario per l'adempimento di un obbligo legale al quale il titolare è soggetto</div>
				<div class="editorial__table__col hide-desk" data-head="TEMPO CONSERVAZIONE">10 anni dalla conclusione del contratto, come stabilito dall'art. 2220 c.c., fatti salvi eventuali ritardati pagamenti dei corrispettivi e/o contenziosi che ne giustifichino il prolungamento</div>
			</div>
		</div>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Modalità di trattamento dei dati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Il trattamento dei dati personali sarà improntato a principi di correttezza, liceità e trasparenza, tutelando la sua riservatezza ed i suoi diritti ed avverrà mediante strumenti idonei a garantirne la sicurezza.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Conseguenze del mancato conferimento dei dati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Il conferimento dei dati personali sopra indicati è necessario per perseguire le finalità indicate, pertanto non fornire tali dati comporta l'impossibilità di effettuare il trattamento</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza; ambito di diffusione dei dati personali</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Nei limiti degli obblighi, dei compiti o delle finalità sopra indicati:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• i dati personali saranno trattati esclusivamente da dipendenti e/o collaboratori del Titolare, anche mediante soggetti terzi nominati quali Responsabili (ad es. consulenti aziendali o società esterne incaricati per la gestione degli ordini e il controllo amministrativo contabile delle commesse, della gestione del sistema della qualità e per le attività connesse), nel rispetto di quanto previsto dalla legge anche con riguardo alle misure di sicurezza a protezione e salvaguardia dei dati stessi;</li>
			<li class="editorial__list__item">• i dati non saranno in alcun modo diffusi, salvo consenso dell’interessato.</li>
		</ul>
		<p class="editorial__paragraph">L'elenco dei Responsabili può essere richiesto al Titolare.</p>
		<p class="editorial__paragraph">Il Titolare potrà comunicare e diffondere i dati personali al solo fine di dare esecuzione ad obblighi di legge. I dati personali potranno essere comunicati in Italia e/o all’estero a:
		</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• enti pubblici e privati, anche a seguito di ispezioni o verifiche (ad esempio Amministrazione Finanziaria, Organi di Polizia Tributaria, Autorità Giudiziarie, Enti Previdenziali);</li>
			<li class="editorial__list__item">• • soggetti che possono accedere ai dati in forza di disposizione di legge.</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Diritti dell'interessato</h2>
	</div>
	<div>
		<p class="editorial__paragraph">L’interessato potrà, in qualsiasi momento, esercitare i diritti previsti dal Regolamento Europeo n. 2016/679. In particolare il diritto:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• di accedere ai suoi dati personali;</li>
			<li class="editorial__list__item">• di ottenere la rettifica o la cancellazione degli stessi o la limitazione del trattamento che la riguardano;</li>
			<li class="editorial__list__item">• di opporsi al trattamento;</li>
			<li class="editorial__list__item">• alla portabilità dei dati;</li>
			<li class="editorial__list__item">• di revocare il consenso, ove previsto: la revoca del consenso non pregiudica la liceità del trattamento basata sul consenso conferito prima della revoca;</li>
			<li class="editorial__list__item">• di proporre reclamo all'autorità di controllo. Per l’Italia, l’autorità di controllo è l’Autorità Garante per la protezione dei dati personali.</li>
		</ul>
		<p class="editorial__paragraph">L’esercizio dei diritti sopra richiamati potrà avvenire attraverso l’invio di una richiesta mediante e-mail all’indirizzo info@jungl.es.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Disponibilità dell'informativa</h2>
	</div>
	<div>
		<p class="editorial__paragraph">La presente informativa è resa disponibile presso la sede del Titolare</p>
	</div>
</div>
