<section class="section main-viewer js-main-viewer">
	<article class="article main-viewer__content">
		<h1 class="page-title">
			LET'S<br/>
			PLAY<br/>
			OUT<br/>
			THERE
		</h1>
		<div class="scroll-suggestion js-scroll-suggestion">
			<span class="scroll-suggestion__text page-paragraph">scroll</span>
			<div class="scroll-suggestion__media">
				{% include 'svg/scroll.html.twig' %}
			</div>
		</div>
	</article>
	<div class="main-viewer__leaf">
		{% include 'svg/leaf.html.twig' %}
	</div>
</section>
