<div class="rotate-device js-rotate">
  <div class="rotate-device__content">
    {% include 'svg/rotate.html.twig' %}
    <div class="rotate-device__text">Ruota il tuo dispositivo per poter navigare il sito Jungles</div>
  </div>
</div>