<h1 class="editorial__title">Privacy & Cookie Policy “Jungl.es” ai sensi dell'Art. 13 GDPR</h1>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Cosa è questa privacy policy</h2>
	</div>
	<div>
		<p class="editorial__paragraph">I tuoi dati personali saranno oggetto di trattamento, attraverso il sito web www.jungl.es (il “Sito”) nel rispetto della normativa e degli obblighi di riservatezza e sicurezza cui si ispira l'attività del suo proprietario. In questo documento ti fornisco le informazioni necessarie per sapere cosa tratto e perché?</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Titolare del trattamento</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Il Titolare del trattamento è Jungles S.r.l., P.IVA e C.F. 10065560962, con sede legale in Via Cesare Battisti n. 23 - 20122 Milano contattabile ai seguenti recapiti:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• scrivendo una e-mail a info@jungl.es</li>
			<li class="editorial__list__item">• telefonando al numero +39 02 82 777 066</li>
			<li class="editorial__list__item">• per posta ordinaria all'indirizzo della sede legale</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Categoria di dati trattati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Saranno trattati alcuni tuoi dati personali identificativi quando accedi al Sito o utilizzi il modulo di contatto (ad esempio: indirizzo IP, tipologia e identificativi di device e browser usati, nome e cognome, contatti)</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Finalità, basi giuridiche e tempo di conservazione</h2>
	</div>
	<div>
		<div class="editorial__table">
			<div class="editorial__table__row">
				<div class="editorial__table__col">
					<strong>FINALITÀ</strong>
				</div>
				<div class="editorial__table__col">
					<strong>BASI GIURIDICHE</strong>
				</div>
				<div class="editorial__table__col">
					<strong>TEMPO CONSERVAZIONE</strong>
				</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">effettuare le operazioni tecniche strumentali a consentire la navigazione del Sito e l’utilizzo delle sue funzionalità</div>
				<div class="editorial__table__col" data-head="BASI GIURIDICHE">il trattamento è necessario per perseguire l’interesse legittimo del Titolare alla manutenzione e ottimizzazione del Sito</div>
				<div class="editorial__table__col" data-head="TEMPO CONSERVAZIONE">per il tempo necessario a garantire la comunicazione informatica con il server</div>
			</div>
			<div class="editorial__table__row">
				<div class="editorial__table__col" data-head="FINALITÀ">consentire al Titolare di comunicare con l’Utente, in caso di richiesta tramite funzionalità del Sito o tramite email e/o altri strumenti di comunicazione</div>
				<div class="editorial__table__col" data-head="BASI GIURIDICHE">il trattamento è effettuato sulla base del consenso dell’interessato</div>
				<div class="editorial__table__col" data-head="TEMPO CONSERVAZIONE">sino al termine della gestione della comunicazione con l’interessato.</div>
			</div>
		</div>
		<p class="editorial__paragraph">L’avvio o la possibilità di un contenzioso con uno o più Utenti o con soggetti terzi potrà giustificare, per ciascuna delle finalità previste, il prolungamento dei termini di conservazione dei dati sino al termine delle necessità</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Modalità di trattamento dei dati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Rispetterò i principi di correttezza, liceità e trasparenza, tutelerò la riservatezza e i diritti degli interessati e userò strumenti idonei a garantirne la sicurezza.<br/>Tratterò i dati riferibili agli interessati con strumenti manuali, informatici e telematici, con logiche strettamente correlate alle finalità indicate.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Conseguenze del mancato conferimento dei dati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Il conferimento dei dati personali sopra indicati è necessario per fornire in modo corretto le funzionalità previste dal Sito: la mancata fornitura dei dati comporta l’impossibilità di usufruire, in tutto o in parte, del Sito (ad es., la mancata indicazione della tua mail nel modulo di contatto non permetterà l’invio della tua comunicazione, perché non avremmo modo di risponderti)</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza; ambito di diffusione dei dati personali</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Nei limiti degli obblighi, dei compiti o delle finalità sopra indicati:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• i dati personali saranno trattati esclusivamente da dipendenti e/o collaboratori del Titolare, anche mediante soggetti terzi nominati quali Responsabili (ad es. gestori del Sito), nel rispetto di quanto previsto dalla legge anche con riguardo alle misure di sicurezza a protezione e salvaguardia dei dati stessi;</li>
			<li class="editorial__list__item">• i dati non saranno in alcun modo diffusi, salvo consenso dell’interessato.</li>
		</ul>
		<p class="editorial__paragraph">L'elenco dei Responsabili può essere richiesto al Titolare.</p>
		<p class="editorial__paragraph">Potrò comunicare e diffondere i dati personali per eseguire obblighi di legge.</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• enti pubblici e privati, anche a seguito di ispezioni o verifiche (ad esempio Amministrazione Finanziaria, Organi di Polizia Tributaria, Autorità Giudiziarie, Enti Previdenziali);</li>
			<li class="editorial__list__item">• soggetti che possono accedere ai dati in forza di disposizione di legge.</li>
		</ul>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Trasferimento internazionale dei dati</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Alcuni tuoi dati potranno essere trasferiti in Paesi terzi, in particolare anche al di fuori dell’Unione Europea, in forza di decisioni di adeguatezza del Paese Terzo ovvero di clausole tipo relative alla protezione dei dati adottate dalla Commissione Europea, al fine di garantire effettiva tutela ai diritti degli interessati.<br/>Questi trasferimenti verso Paesi terzi saranno limitati a quanto necessario in ragione delle soluzioni tecnologiche adottate.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Diritti dell'interessato</h2>
	</div>
	<div>
		<p class="editorial__paragraph">L’interessato potrà, in qualsiasi momento, esercitare i diritti previsti dal Regolamento Europeo n. 2016/679. In particolare il diritto:</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• di accedere ai suoi dati personali;</li>
			<li class="editorial__list__item">• di ottenere la rettifica o la cancellazione degli stessi o la limitazione del trattamento che la riguardano;</li>
			<li class="editorial__list__item">• di opporsi al trattamento;</li>
			<li class="editorial__list__item">• alla portabilità dei dati;</li>
			<li class="editorial__list__item">• di revocare il consenso, ove previsto: la revoca del consenso non pregiudica la liceità del trattamento basata sul consenso conferito prima della revoca;</li>
			<li class="editorial__list__item">• di proporre reclamo all'autorità di controllo. Per l’Italia, l’autorità di controllo è l’Autorità Garante per la protezione dei dati personali.</li>
		</ul>
		<p class="editorial__paragraph">L’esercizio dei diritti sopra richiamati potrà avvenire attraverso l’invio di una richiesta mediante e-mail all’indirizzo info@jungl.es.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Cookies</h2>
	</div>
	<div>
		<p class="editorial__paragraph">Questo sito utilizza i cookies, ossia file di testo che vengono installati sul tuo computer per migliorare la funzionalità del sito e per semplificarne la navigazione automatizzando alcune procedure.</p>
		<p class="editorial__paragraph">Utilizzando questo Sito tolleri che siano installati sul tuo dispositivo i cookies tecnici e di sessione: non sono strumentali alla raccolta di dati personali con cui identificarti e durano per la sola sessione in corso, cioè fino alla chiusura del browser. Il loro uso non richiede il tuo consenso preventivo.</p>
		<br/>
    <p class="editorial__paragraph">
			<strong>PHPSESSID</strong>: Per creare tutte le pagine del sito, utilizzo il linguaggio di programmazione PHP. Il cookie PHPSESSID è necessario affinché il codice PHP possa funzionare correttamente.</p>
		<br/>
    <p class="editorial__paragraph">
			<strong>SERVERID</strong>: Questo cookie serve per indirizzare la connessione verso il server corretto. Non contiene dati personali.</p>
		<br/>
    <p class="editorial__paragraph">Il Sito utilizza, inoltre, dei cookie analitici anonimizzati forniti da Google Ireland Ltd e chiamati “Google Analytics”.<br/>Google utilizza i dati personali raccolti allo scopo di tracciare ed esaminare l’utilizzo dei domini di Jungles, compilare report e condividerli con gli altri servizi sviluppati da Google. Google potrebbe utilizzare i dati personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.<br/>I servizi di Google Analytics sul sito di Jungles sono stati configurati per rendere anonimo l’indirizzo IP dei visitatori. L’anonimizzazione funziona abbreviando entro i confini degli stati membri dell’Unione Europea o in altri Paesi aderenti all’accordo sullo Spazio Economico Europeo l’indirizzo IP degli utenti. Solo in casi eccezionali, l’indirizzo IP sarà inviato ai server di Google ed abbreviato all’interno degli Stati Uniti.<br/>I dati personali raccolti sono dati di utilizzo e le informazioni raccolte mediante cookies, mentre il luogo del trattamento è negli Stati Uniti d’America. Per consultare l’informativa privacy della società Google, relativa al servizio Google Analytics, si prega di visitare il sito Internet di Google. Per conoscere le norme sulla privacy di Google, si invita a vistare il sito Internet di Google, all’apposita sezione.</p>
	</div>
</div>
<div class="editorial__block">
	<div>
		<h2 class="editorial__subtitle">Come disabilitare i cookies</h2>
	</div>
	<div>
		<p class="editorial__paragraph">È possibile negare il consenso all’utilizzo dei cookie selezionando l’impostazione appropriata sul proprio browser: la navigazione del sito sarà comunque disponibile, ma potrebbero esserci degli errori tecnici. Di seguito puoi trovare i link che spiegano come disabilitare i cookie per i browser più diffusi (per altri browser eventualmente utilizzati ti suggerisco di cercare questa opzione nell’help del tuo software normalmente disponibile attraverso il tasto F1):</p>
		<ul class="editorial__list">
			<li class="editorial__list__item">• Internet Explorer</li>
			<li class="editorial__list__item">• Google Chrome</li>
			<li class="editorial__list__item">• Mozilla Firefox</li>
			<li class="editorial__list__item">• Apple Safari</li>
		</ul>
		<p class="editorial__paragraph">Per disabilitare i cookie di Google Analytics è, inoltre, possibile scaricare questo tool fornito direttamente da Google.</p>
	</div>
</div>
