<div class="js-slider">
	<div class="section study" style="background-color: red"></div>
	<div class="section think" style="background-color: blue"></div>
	<div class="section move" style="background-color: green"></div>
	<div class="section connect" style="background-color: yellow"></div>
	<div class="section contacts" style="background-color: grey"></div>
</div>
