<div class="maintitle js-title">
  <div class="maintitle__word maintitle__word--let js-title-let">LET'S</div>
  <div class="maintitle__word maintitle__word--dynamic js-title-dynamic">
    <div class="maintitle__animatable js-title-vertical-item" data-id="play">PLAY</div>
    <div class="maintitle__animatable maintitle__animatable--hidden js-title-vertical-item" data-id="study"><span>STUDY</span></div>
    <div class="maintitle__animatable maintitle__animatable--hidden js-title-vertical-item" data-id="think"><span>THINK</span></div>
    <div class="maintitle__animatable maintitle__animatable--hidden js-title-vertical-item" data-id="move"><span>MOVE</span></div>
    <div class="maintitle__animatable maintitle__animatable--hidden js-title-vertical-item" data-id="connect"><span>CONNECT</span></div>
    <div class="maintitle__animatable maintitle__animatable--hidden js-title-vertical-item" data-id="contact"><span>CONTACT</span></div>

    <div class="maintitle__subline js-title-subline"></div>
  </div>
  <div class="maintitle__word maintitle__word--out js-title-out">OUT</div>
  <div class="maintitle__word maintitle__word--there js-title-there">THERE</div>
</div>