{% extends 'base.html.twig' %}

{% block content %}

    <main class="main js-app" data-route="privacy">
        <div class="privacy-user is-printable">
            <div class="container">
                <div class="privacy-user__logo">
                    {% include 'partials/logo.html.twig' with {'className':  ''} %}
                </div>

                <div class="privacy-user__title privacy-user__title--main">
                    <h2>
                        Informativa “potenziali candidati/curricula” ai sensi dell'Art. 13<br>
                        “Regolamento Europeo in materia di protezione dei dati personali – GDPR” (REG. UE 2016/679)
                    </h2>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Introduzione</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            I dati personali saranno oggetto di trattamento nel rispetto della normativa applicabile e
                            degli
                            obblighi di riservatezza e sicurezza cui si ispira l'attività di Jungles S.r.l.
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Titolare del trattamento</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            Il Titolare del trattamento è Jungles S.r.l., P.IVA e C.F. 10065560962, con sede legale in
                            Via
                            Cesare Battisti n. 23 - 20122 Milano contattabile ai seguenti recapiti:
                        </p>
                        <ul class="privacy-user__list">
                            <li>scrivendo una e-mail a <a href="mailto:info@jungl.es">info@jungl.es</a></li>
                            <li>telefonando al numero +39 02 82 777 066</li>
                            <li>per posta ordinaria all'indirizzo della sede legale</li>
                        </ul>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Categoria di dati trattati</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            Le categorie di dati trattati sono le seguenti:
                        </p>
                        <ul class="privacy-user__list">
                            <li>dati personali identificativi del potenziale candidato*</li>
                            <li>dati personali relativi alle competenze lavorative del potenziale candidato*</li>
                            <li>
                                ulteriori dati personali idonei a qualificare le competenze del potenziale candidato
                            </li>
                        </ul>
                        <p>
                            I dati contrassegnati con l'asterisco (*) sono obbligatori
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Finalità, basi giuridiche e tempo di conservazione</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <div class="privacy-user__table privacy-user__table--desktop">
                            <br>
                            <br>
                            <br>
                            <table>
                                <thead>
                                <tr>
                                    <th>Finalità</th>
                                    <th>Basi giuridiche</th>
                                    <th>Tempo conservazione</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        valutare la possibile costituzione di un rapporto di lavoro
                                        <br>
                                    </td>
                                    <td>
                                        consenso espresso dell'interessato
                                        <br>
                                    </td>
                                    <td>1 anno dall'invio del curriculum vitae e/o dal colloquio conoscitivo
                                        eventualmente
                                        effettuato
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        con riferimento ai dati di contatto, valutare la possibilità di un ricontatto
                                        futuro per
                                        posizione lavorative non ancora aperte
                                    </td>
                                    <td>
                                        legittimo interesse del titolare
                                    </td>
                                    <td>
                                        5 anno dall'invio del curriculum vitae e/o dal colloquio conoscitivo
                                        eventualmente
                                        effettuato
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </div>
                <br>
                <br>
                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Modalità di trattamento dei dati</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            Il trattamento dei dati personali sarà improntato a principi di correttezza, liceità e
                            trasparenza, tutelando la sua riservatezza ed i suoi diritti ed avverrà mediante strumenti
                            idonei a garantirne la sicurezza
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Conseguenze del mancato conferimento dei dati</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            Il conferimento dei dati personali indicati come obbligatori è necessario per perseguire le
                            finalità indicate, pertanto non fornire tali dati comporta l'impossibilità di effettuare il
                            trattamento. Il conferimento degli altri dati personali è facoltativo. Non fornire tali
                            ulteriori dati comporta l'impossibilità che gli stessi siano presi in considerazione per la
                            valutazione del candidato
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>
                            Categorie di soggetti ai quali i dati personali possono essere comunicati o che possono
                            venirne a conoscenza; ambito di diffusione dei dati personali
                        </strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            Nei limiti degli obblighi, dei compiti o delle finalità sopra indicati:
                        </p>

                        <ul class="privacy-user__list">
                            <li>
                                i dati personali saranno trattati esclusivamente da dipendenti e/o collaboratori del
                                Titolare, anche mediante soggetti terzi nominati quali Responsabili (ad es. consulenti
                                aziendali o società esterne incaricati di assistere il Titolare per le attività di
                                recruitment), nel rispetto di quanto previsto dalla legge anche con riguardo alle misure
                                di sicurezza a protezione e salvaguardia dei dati stessi;
                            </li>
                            <li>
                                i dati non saranno in alcun modo diffusi, salvo consenso dell’interessato
                            </li>
                        </ul>

                        <p>L'elenco dei Responsabili può essere richiesto al Titolare.</p>

                        <p>
                            Il Titolare potrà comunicare e diffondere i dati personali al solo fine di dare esecuzione
                            ad
                            obblighi di legge. I dati personali potranno essere comunicati in Italia e/o all’estero a:
                        </p>
                        <ul class="privacy-user__list">
                            <li>
                                enti pubblici e privati, anche a seguito di ispezioni o verifiche (ad esempio
                                Amministrazione Finanziaria, Organi di Polizia Tributaria, Autorità Giudiziarie, Enti
                                Previdenziali);
                            </li>
                            <li>
                                soggetti che possono accedere ai dati in forza di disposizione di legge.
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__section__title">
                        <strong>Diritti dell'interessato</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            L’interessato potrà, in qualsiasi momento, esercitare i diritti previsti dal Regolamento
                            Europeo n. 2016/679. In particolare il diritto:
                        </p>
                        <ul class="privacy-user__list">
                            <li>
                                di accedere ai tuoi dati personali;
                            </li>
                            <li>
                                di ottenere la rettifica o la cancellazione degli stessi o la limitazione del
                                trattamento che la riguardano;
                            </li>
                            <li>
                                di opporti al trattamento;
                            </li>
                            <li>
                                alla portabilità dei dati;
                            </li>
                            <li>
                                di revocare il consenso, ove previsto: la revoca del consenso non pregiudica la liceità
                                del trattamento basata sul consenso conferito prima della revoca;
                            </li>
                            <li>
                                di proporre reclamo all'autorità di controllo. Per l’Italia, l’autorità di controllo è
                                l’Autorità Garante per la protezione dei dati personali.
                            </li>
                        </ul>
                        <p>
                            L’esercizio dei diritti sopra richiamati potrà avvenire attraverso l’invio di una richiesta
                            mediante
                            e-mail all’indirizzo <a
                                    href="mailto:info@jungl.es">info@jungl.es</a>.
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section privacy-user__section--full">
                    <div class="privacy-user__section__title">
                        <strong>Disponibilità dell'informativa</strong>
                    </div>
                    <div class="privacy-user__section__content">
                        <p>
                            La presente informativa è resa disponibile presso la funzione HR del Titolare
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__section">
                    <div class="privacy-user__form">

                        <p>
                            Il/La sottoscritto/a {{ user.firstName }} {{ user.lastName }} dichiara di aver ricevuto
                            completa informativa ai sensi dell’Art. 13 del regolamento europeo n.
                            2016/679 ed esprime il consenso al trattamento dei propri dati personali nei limiti e per le
                            finalità precisati nell’informativa.
                        </p>
                        <p>
                            <input type="checkbox" checked="checked">
                            confermo la presa visione dell’informativa privacy sopra riportata e
                            accetto i termini.
                            <br>
                            Autorizzo, inoltre, Jungles S.r.l. ad effettuare tutti i trattamenti sopra indicati fino a
                            quando ritenuto utile da Jungles S.r.l., nei limiti di cui all’informativa stessa e comunque
                            non oltre alla mia richiesta di cancellazione della banca dati.
                        </p>
                        <br>
                        <p class="privacy-user__email-wrapper">
                            Email: {{ user.email }}
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="privacy-user__footer">
                    <strong>Jungles S.r.l.</strong>
                    <br>
                    Sede legale: Via Cesare Battisti n. 23, 20122 Milano - CF e P.Iva IT10065560962 -
                    Uffici: Via Spartaco n. 11, 20135 Milano
                    <br>
                    <a href="https://www.jungl.es">www.jungl.es</a> |
                    <a href="mailto:info@jungl.es">info@jungl.es</a> | Telefono +39 02 82 777 066
                </div>
            </div>
        </div>
    </main>
{% endblock %}