{% extends 'base.html.twig' %}

{% block content %}

<main class="main js-app" data-route="privacy">
    <style>
        body {
            background-color: white;
            overflow: scroll;
        }
    </style>
    {% include 'partials/candidateuser-form.html.twig' %}
</main>
{% endblock %}