{% extends 'base.html.twig' %}

{% block content %}

<main class="main js-app" data-route="privacy">
    <div class="privacy-user is-printable">
        <div class="container">
            <div class="privacy-user__logo">
                {% include 'partials/logo.html.twig' with {'className':  ''} %}
            </div>

            <div class="privacy-user__title privacy-user__title--main">
                <h2>
                    Informativa “Jungles User Test Experience” ai sensi degli Art. 13 e 14 del <br>
                    “Regolamento Europeo in materia di protezione dei
                    dati personali – GDPR” (REG. UE 2016/679)
                </h2>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Introduzione</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        I dati personali saranno oggetto di trattamento nel rispetto della normativa applicabile e degli
                        obblighi di riservatezza e sicurezza cui si ispira l'attività di Jungles S.r.l.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Titolare del trattamento</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Il Titolare del trattamento è Jungles S.r.l., P.IVA e C.F. 10065560962, con sede legale in Via
                        Cesare Battisti n. 23 - 20122 Milano che puoi contattare:
                    </p>
                    <ul class="privacy-user__list">
                        <li>scrivendo una e-mail a <a href="mailto:info@jungl.es">info@jungl.es</a></li>
                        <li>telefonando al numero +39 02 82 777 066</li>
                        <li>per posta ordinaria all'indirizzo: Via Spartaco n. 11 - 20135 Milano</li>
                    </ul>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Categoria di dati trattati</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Le categorie di dati trattati sono le seguenti:
                    </p>
                    <ul class="privacy-user__list">
                        <li>dati identificativi (nome e cognome) e di contatto</li>
                        <li>riprese audio/video durante l'esecuzione del test di esperienza di utilizzo</li>
                        <li>
                            dati biomedici (tracciamento oculare, neurobiofeedback, riconoscimento emotivo facciale,
                            variazione della resistenza elettrica della pelle)
                        </li>
                    </ul>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section privacy-user__section--no-border">
                <div class="privacy-user__section__title">
                    <strong>Fonte dei dati</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        {{ dynamicForm.privacySectionContent}}
                    </p>
                </div>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Finalità, basi giuridiche e tempo di conservazione</strong>
                </div>
                <div class="privacy-user__section__content">
                    <div class="privacy-user__table privacy-user__table--desktop">
                        <br>
                        <br>
                        <br>
                        <table>
                            <thead>
                            <tr>
                                <th>Finalità</th>
                                <th>Basi giuridiche</th>
                                <th>Tempo conservazione</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Analisi dell'esperienza di utilizzo di software, piattaforme informatiche, siti web o
                                    altri media mediante connessione da remoto e streaming della sessione
                                    <br>
                                </td>
                                <td>
                                    Il trattamento è necessario per adempiere gli obblighi derivanti dal contratto e le
                                    attività precontrattuali correlate
                                    <br>
                                </td>
                                <td>12 mesi dalla conclusione del test
                                    <br></td>
                            </tr>
                            <tr>
                                <td>
                                    Relativamente solo al nome e cognome, archiviazione dei documenti comprovanti il
                                    conferimento del consenso e l'accettazione del contratto di testing
                                </td>
                                <td>
                                    Il trattamento è necessario per adempiere gli obblighi derivanti dal contratto e le
                                    attività precontrattuali correlate
                                </td>
                                <td>
                                    10 anni dalla conclusione del contratto, come stabilito dall'art. 2496 c.c.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
            </div>
            <br>
            <br>
            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Modalità di trattamento dei dati</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Tratteremo i dati personali secondo principi di correttezza, liceità e trasparenza, tutelando la tua
                        riservatezza e i tuoi diritti, usando strumenti in grado di garantirne la sicurezza.
                        <br>
                        Se previsto dal test, potranno essere registrati anche segnali biomedici tramite appositi
                        dispositivi. Le audio/videoregistrazioni, le registrazioni dei segnali biomedici, nonché le
                        fotografie e le immagini a supporto saranno consegnate al committente prive dei dati personali e per
                        sole finalità di ricerca, salvo suo consenso.
                        <br>
                        Personale, collaboratori di Jungles s.r.l. e committenti della ricerca operanti nel settore delle
                        pay tv potranno prendere visione in diretta dell’intervista. Le eventuali audio/videoregistrazioni
                        ed ogni ulteriore dato personale saranno, comunque, eliminati nel rispetto della normativa vigente
                        entro 12 mesi dopo il termine della ricerca, in conformità con le normative di settore.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Conseguenze del mancato conferimento dei dati</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Il conferimento dei dati personali sopra indicati è necessario per perseguire le finalità indicate,
                        pertanto non fornire tali dati comporta l'impossibilità di effettuare il test programmato.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Categorie di soggetti ai quali i dati personali possono essere comunicati o che possono
                        venirne a
                        conoscenza; ambito di diffusione dei dati personali</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Nei limiti degli obblighi, dei compiti o delle finalità sopra indicati:
                    </p>

                    <ul class="privacy-user__list">
                        <li>
                            i dati personali saranno trattati esclusivamente da dipendenti e/o collaboratori del Titolare,
                            anche
                            mediante soggetti terzi nominati quali Responsabili (ad es. società incaricate nell'elaborazione
                            dei
                            filmati
                            di testing e di analisi del processo di user experience), nel rispetto di quanto previsto dalla
                            legge anche
                            con riguardo alle misure di sicurezza a protezione e salvaguardia dei dati stessi;
                        </li>
                        <li>
                            l’attività videoripresa potrà essere visionata in tempo reale dal Titolare, da persone da questi
                            autorizzate e dal committente del test.
                        </li>
                    </ul>

                    <p>L'elenco dei Responsabili può essere richiesto al Titolare.</p>

                    <p>
                        Il Titolare potrà comunicare e diffondere i dati personali al solo fine di dare esecuzione ad
                        obblighi di legge.
                    </p>
                    <p>
                        I dati personali potranno essere trasferiti in Paesi terzi a soggetti certificati come aderenti al
                        Privacy Shield UE-USA per le attività di streaming dei video e di salvataggio dei dati. Per
                        ulteriori informazioni è possibile contattare il Titolare.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__section__title">
                    <strong>Diritti dell'interessato</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Potrai esercitare, in qualsiasi momento, i diritti previsti dal Regolamento Europeo n. 2016/679. In
                        particolare il diritto:
                    </p>
                    <ul class="privacy-user__list">
                        <li>
                            di accedere ai tuoi dati personali;
                        </li>
                        <li>
                            di ottenere la rettifica o la cancellazione degli stessi o la limitazione del
                            trattamento che ti riguardano;
                        </li>
                        <li>
                            di opporti al trattamento;
                        </li>
                        <li>
                            alla portabilità dei dati;
                        </li>
                        <li>
                            di revocare il consenso, ove previsto: la revoca del consenso non pregiudica la liceità del
                            trattamento basata sul consenso conferito prima della revoca;
                        </li>
                        <li>
                            di proporre reclamo all'autorità di controllo. Per l’Italia, l’autorità di controllo è
                            l’Autorità
                            Garante per la protezione dei dati personali.
                        </li>
                    </ul>
                    <p>
                        Per esercitare questi diritti puoi scrivere una e-mail all’indirizzo <a href="mailto:info@jungl.es">info@jungl.es</a>.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section privacy-user__section--full">
                <div class="privacy-user__section__title">
                    <strong>Accettazione delle modalità di testing</strong>
                </div>
                <div class="privacy-user__section__content">
                    <p>
                        Jungles S.r.l. sta svolgendo un’indagine su applicazioni digitali di una famosa piattaforma
                        televisiva a pagamento.
                    </p>
                    <p>
                        Affermo sotto la mia responsabilità di essere in possesso dei requisiti necessari per partecipare a
                        questa test experience e che quanto da me dichiarato nel questionario di reperimento e da me
                        confermato in sede di identificazione per la partecipazione al test corrisponde al vero. Pertanto,
                        sono consapevole del fatto che qualora durante lo svolgimento del test dovessero emergere
                        ragionevoli dubbi in merito all’attendibilità delle mie dichiarazioni in merito al possesso di tali
                        requisiti, il moderatore e il personale di Jungles s.r.l. potranno escludermi in qualunque momento
                        dallo studio, con giudizio insindacabile.
                    </p>
                    <p>
                        In tale caso, non avrò diritto all’omaggio né nulla altro avrò da pretendere da Jungles S.r.l.,
                        salvo restando il diritto di Jungles S.r.l. al risarcimento per i danni subiti.
                    </p>
                    <p>
                        Sono anche stato informato che lo studio è di natura confidenziale e riservata e, pertanto, mi
                        impegno a non diffondere in alcun modo notizie, dati ed informazioni raccolti e/o appresi durante la
                        partecipazione del gruppo. Preso atto di quanto sopra, accetto di partecipare a questo studio alle
                        condizioni sopra specificate e dichiaro che i suoi obiettivi mi sono chiari. Per ulteriori
                        informazioni è possibile contattare Jungles S.r.l.
                    </p>
                </div>
                <hr>
            </div>

            <div class="privacy-user__section">
                <div class="privacy-user__form">

                    <p>
                        Il/La sottoscritto/a {{ user.firstName }} {{ user.lastName }} dichiara di aver
                        ricevuto completa informativa ai sensi dell’Art. 13 del regolamento europeo n. 2016/679 e
                    </p>
                    <p>
                        <input type="checkbox" checked="checked">
                        confermo la presa visione dell’informativa privacy sopra riportata e
                        accetto i termini e le modalità
                        di testing proposte
                    </p>
                    <br>
                    <p class="privacy-user__email-wrapper">
                        Email: {{ user.email }}
                    </p>


                </div>
                <hr>
            </div>

            <div class="privacy-user__footer">
                <strong>Jungles S.r.l.</strong>
                <br>
                Sede legale: Via Cesare Battisti n. 23, 20122 Milano - CF e P.Iva IT10065560962 -
                Uffici: Via Spartaco n. 11, 20135 Milano
                <br>
                <a href="https://www.jungl.es">www.jungl.es</a> |
                <a href="mailto:info@jungl.es">info@jungl.es</a> | Telefono +39 02 82 777 066
            </div>
        </div>
    </div>
</main>
{% endblock %}