.pagination {
  position: absolute;
  bottom: rem(40);
  left: rem(32);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(54);
  opacity: 0;
  pointer-events: none;
  z-index: 200;

  @include breakpoint($breakpoint-ipad) {
    bottom: rem(82);
    left: rem(48);
  }
}

.pagination__item {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-family: $font-bold;
  font-size: rem(16);
  margin-bottom: rem(8);
  text-align: center;
  color: #000;
  opacity: 0.2;
  transition: color 0.6s ease-out 0s;
  z-index: 10;

  &:last-child {
    margin-bottom: 0;
  }
}

.pagination__subline {
  position: absolute;
  display: block;
  width: 100%;
  height: rem(2);
  background-color: $color-green;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
